Repository Space-Invaders-Team/Arkanoid: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

lefthook.yml:

pre-commit:
  follow: true
  commands:
    eslint:
      glob: '*.{ts,tsx}'
      run: yarn eslint {staged_files}
    stylelint:
      glob: '*.css'
      run: yarn stylelint {staged_files}
    tests:
      run: yarn test

fix: Исправить замечания ревью
  .eslintrc.js
  packages/client/src/api/AuthAPI.ts
  packages/client/src/components/App/App.tsx
  packages/client/src/components/Form/Form.tsx
  packages/client/src/components/Form/typings.ts
  packages/client/src/components/Navigation/Navigation.tsx
  packages/client/src/components/Navigation/typings.ts
  packages/client/src/pages/Authorization/Authorization.tsx
  packages/client/src/pages/Authorization/typings.ts
  packages/client/src/pages/Registration/Registration.tsx
  packages/client/src/pages/Registration/typings.ts
  packages/client/src/router/router.tsx
  packages/client/src/router/typings.ts
  packages/client/src/typings.d.ts
Due: eslint

Initial commit
  packages/client/package.json
  packages/client/src/main.tsx
  packages/client/src/store/index.ts
  packages/client/src/store/store.ts
  yarn.lock
Due: eslint

Add store hook
  packages/client/package.json
  packages/client/src/main.tsx
  packages/client/src/store/hooks.ts
  packages/client/src/store/index.ts
  packages/client/src/store/store.ts
  packages/client/src/utils/apiConstans.ts
  yarn.lock
Due: eslint

chore: add route path constants
  packages/client/src/components/Form/Form.tsx
  packages/client/src/components/LandingHeader/LandingHeader.tsx
  packages/client/src/components/Navigation/Navigation.tsx
  packages/client/src/components/ProtectedRoute/ProtectedRoute.tsx
  packages/client/src/router/router.tsx
  packages/client/src/utils/routeConstants.ts
Due: eslint

Task/58 add redux (#22)
  packages/client/package.json
  packages/client/src/main.tsx
  packages/client/src/store/hooks.ts
  packages/client/src/store/index.ts
  packages/client/src/store/store.ts
  packages/client/src/utils/apiConstans.ts
  yarn.lock
Due: eslint

UI changes
  packages/client/src/assets/img/game.png
  packages/client/src/assets/img/listScreen.png
  packages/client/src/pages/forum/Forum.module.css
  packages/client/src/pages/forum/forum.tsx
  packages/client/src/pages/forum/topicList/TopicList.module.css
  packages/client/src/pages/forum/topicList/topicList.tsx
  packages/client/src/pages/landing/Landing.module.css
  packages/client/src/pages/landing/landing.tsx
Due: eslint, stylelint

Styles fix
  packages/client/src/pages/forum/Messages/Messages.module.css
  packages/client/src/pages/forum/Messages/Messages.tsx
  packages/client/src/pages/forum/topicList/TopicList.module.css
  packages/client/src/pages/forum/topicList/topicList.tsx
Due: eslint, stylelint

feat(task-64): add lives/score counters and lose handler
  packages/client/src/components/game_screens/EndScreen/EndScreen.tsx
  packages/client/src/components/game_screens/StartScreen/StartScreen.tsx
  packages/client/src/pages/GamePage/GamePage.module.css
  packages/client/src/pages/GamePage/GamePage.tsx
  packages/client/src/pages/GamePage/artifacts/Ball.ts
  packages/client/src/pages/GamePage/artifacts/Brick.ts
  packages/client/src/pages/GamePage/artifacts/BricksContainer.ts
  packages/client/src/pages/GamePage/artifacts/GameCore.ts
  packages/client/src/pages/GamePage/utils/drawGame.ts
Due: eslint, stylelint

Fix after review
  packages/client/src/assets/icons/downDouble.svg
  packages/client/src/assets/img/game.png
  packages/client/src/components/LandingHeader/LandingHeader.module.css
  packages/client/src/components/LandingHeader/LandingHeader.tsx
  packages/client/src/pages/landing/Landing.module.css
Due: eslint, stylelint

UI changes (#23)
  packages/client/src/assets/icons/downDouble.svg
  packages/client/src/assets/img/game.png
  packages/client/src/assets/img/listScreen.png
  packages/client/src/components/LandingHeader/LandingHeader.module.css
  packages/client/src/components/LandingHeader/LandingHeader.tsx
  packages/client/src/pages/forum/Forum.module.css
  packages/client/src/pages/forum/Messages/Messages.module.css
  packages/client/src/pages/forum/Messages/Messages.tsx
  packages/client/src/pages/forum/forum.tsx
  packages/client/src/pages/forum/topicList/TopicList.module.css
  packages/client/src/pages/forum/topicList/topicList.tsx
  packages/client/src/pages/landing/Landing.module.css
  packages/client/src/pages/landing/landing.tsx
Due: eslint, stylelint

Task/25 add Leaderboard API, add Loader component, linter fixes
  packages/client/.stylelintrc.json
  packages/client/src/api/LeaderboardAPI/LeaderboardAPI.ts
  packages/client/src/api/LeaderboardAPI/typings.ts
  packages/client/src/components/App/typings.ts
  packages/client/src/components/Leaderboard/TableHead/TableHead.tsx
  packages/client/src/components/Leaderboard/TableRow/TableRow.tsx
  packages/client/src/components/LinkRow/LinkRow.tsx
  packages/client/src/components/Loader/Loader.module.css
  packages/client/src/components/Loader/Loader.tsx
  packages/client/src/components/Loader/index.ts
  packages/client/src/pages/leaderboard/Leaderboard.module.css
  packages/client/src/pages/leaderboard/Leaderboard.tsx
  packages/client/src/pages/leaderboard/typings.ts
  packages/client/src/typings.d.ts
Due: eslint, stylelint

changes after review
  packages/client/.stylelintrc.json
  packages/client/package.json
  packages/client/src/api/LeaderboardAPI/LeaderboardAPI.ts
  packages/client/src/components/Loader/Loader.module.css
  packages/client/src/pages/leaderboard/Leaderboard.tsx
  packages/client/src/utils/apiConstans.ts
Due: eslint, stylelint

Task/25 add Leaderboard API, add Loader component, linter fixes
  packages/client/.stylelintrc.json
  packages/client/src/pages/leaderboard/Leaderboard.tsx
Due: eslint

fix - add stylelint rule
  packages/client/.stylelintrc.json
Due: none

add changes after review, add hook for leaderboard
  packages/client/src/api/LeaderboardAPI/typings.ts
  packages/client/src/hooks/useLeaders.ts
  packages/client/src/pages/leaderboard/Leaderboard.tsx
  packages/client/src/pages/leaderboard/typings.ts
Due: eslint

feat(task-67): add changing reflection angle
  packages/client/src/index.css
  packages/client/src/pages/GamePage/artifacts/Ball.ts
  packages/client/src/pages/GamePage/artifacts/Brick.ts
  packages/client/src/pages/GamePage/artifacts/BricksContainer.ts
  packages/client/src/pages/GamePage/artifacts/GameCore.ts
  packages/client/src/styles/properties.css
Due: eslint, stylelint

fix(task-67): correct font-family
  packages/client/src/pages/GamePage/artifacts/GameCore.ts
Due: eslint

created profile components
  packages/client/src/components/ProfileField/Field/Field.module.css
  packages/client/src/components/ProfileField/Field/Field.tsx
  packages/client/src/components/ProfileField/Field/index.ts
  packages/client/src/components/ProfileField/Field/typings.ts
  packages/client/src/components/ProfileField/ProfileField.module.css
  packages/client/src/components/ProfileField/ProfileField.tsx
  packages/client/src/components/ProfileField/index.ts
  packages/client/src/components/ProfileField/typings.ts
  packages/client/src/components/ProfileForm/ProfileForm.module.css
  packages/client/src/components/ProfileForm/ProfileForm.tsx
  packages/client/src/components/ProfileForm/index.ts
  packages/client/src/components/ProfileForm/typings.ts
  packages/client/src/pages/Profile/Profile.module.css
  packages/client/src/pages/Profile/Profile.tsx
  packages/client/src/pages/Profile/data.ts
  packages/client/src/pages/Profile/typings.ts
  packages/client/src/store/profile/typings.ts
Due: eslint, stylelint

feat(task-66): add game levels
  packages/client/public/lose.mp4
  packages/client/public/win.mp4
  packages/client/src/components/GameScreens/EndScreen/EndScreen.module.css
  packages/client/src/components/GameScreens/EndScreen/EndScreen.tsx
  packages/client/src/components/GameScreens/EndScreen/index.ts
  packages/client/src/components/GameScreens/EndScreen/typings.ts
  packages/client/src/components/GameScreens/GameScreens.module.css
  packages/client/src/components/GameScreens/StartScreen/StartScreen.module.css
  packages/client/src/components/GameScreens/StartScreen/StartScreen.tsx
  packages/client/src/components/GameScreens/StartScreen/index.ts
  packages/client/src/components/GameScreens/StartScreen/typings.ts
  packages/client/src/components/GameScreens/index.ts
  packages/client/src/components/game_screens/EndScreen/EndScreen.tsx
  packages/client/src/pages/GamePage/GamePage.tsx
  packages/client/src/pages/GamePage/artifacts/Brick.ts
  packages/client/src/pages/GamePage/artifacts/BricksContainer.ts
  packages/client/src/pages/GamePage/artifacts/GameCore.ts
  packages/client/src/pages/GamePage/utils/levels.ts
Due: eslint, stylelint

changed profile components
  packages/client/src/components/Button/Button.tsx
  packages/client/src/components/Button/typings.ts
  packages/client/src/components/ProfileField/Field/Field.module.css
  packages/client/src/components/ProfileField/Field/Field.tsx
  packages/client/src/components/ProfileField/Field/typings.ts
  packages/client/src/components/ProfileField/ProfileField.module.css
  packages/client/src/components/ProfileField/ProfileField.tsx
  packages/client/src/components/ProfileField/typings.ts
  packages/client/src/components/ProfileForm/ProfileForm.module.css
  packages/client/src/components/ProfileForm/ProfileForm.tsx
  packages/client/src/components/ProfileForm/typings.ts
  packages/client/src/pages/Profile/Profile.module.css
  packages/client/src/pages/Profile/Profile.tsx
  packages/client/src/pages/Profile/data.ts
  packages/client/src/pages/Profile/typings.ts
Due: eslint, stylelint

fix(task-66): corrections after review
  packages/client/src/components/GameScreens/EndScreen/EndScreen.tsx
  packages/client/src/pages/GamePage/artifacts/BricksContainer.ts
Due: eslint

fix(task-66): add dynamic calc brick size
  packages/client/src/pages/GamePage/artifacts/Ball.ts
  packages/client/src/pages/GamePage/artifacts/Brick.ts
  packages/client/src/pages/GamePage/artifacts/BricksContainer.ts
  packages/client/src/pages/GamePage/artifacts/GameCore.ts
  packages/client/src/pages/GamePage/artifacts/Paddle.ts
Due: eslint

task-57: add service workers
  packages/client/package.json
  packages/client/src/main.tsx
  packages/client/src/utils/serviceWorkers/index.ts
  packages/client/src/utils/serviceWorkers/startServiceWorkers.ts
  packages/client/sw.ts
  packages/client/tsconfig.json
  packages/server/package.json
  yarn.lock
Due: eslint

Add Error Boundary component
  packages/client/src/components/App/App.tsx
  packages/client/src/components/ErrorBoundary/ErrorBoundary.tsx
  packages/client/src/components/ErrorBoundary/index.ts
  packages/client/src/components/ErrorBoundary/typings.ts
  packages/client/src/pages/ErrorPage/ErrorPage.module.css
  packages/client/src/pages/ErrorPage/ErrorPage.tsx
  packages/client/src/pages/ErrorPage/index.ts
  packages/client/src/pages/ErrorPage/typings.ts
  packages/client/src/router/router.tsx
  packages/client/src/utils/errorConstants.ts
Due: eslint, stylelint

Type correction
  packages/client/src/components/ErrorBoundary/typings.ts
Due: eslint

Add Error Boundary component (#30)
  packages/client/src/components/App/App.tsx
  packages/client/src/components/ErrorBoundary/ErrorBoundary.tsx
  packages/client/src/components/ErrorBoundary/index.ts
  packages/client/src/components/ErrorBoundary/typings.ts
  packages/client/src/pages/ErrorPage/ErrorPage.module.css
  packages/client/src/pages/ErrorPage/ErrorPage.tsx
  packages/client/src/pages/ErrorPage/index.ts
  packages/client/src/pages/ErrorPage/typings.ts
  packages/client/src/router/router.tsx
  packages/client/src/utils/errorConstants.ts
Due: eslint, stylelint

test(task-73): test Input component
  .eslintrc.js
  package.json
  packages/client/package.json
  packages/client/src/components/Input/Input.test.tsx
  packages/client/src/components/Input/__snapshots__/Input.test.tsx.snap
  packages/client/src/components/Input/index.ts
  packages/client/src/components/Input/typings.ts
  packages/client/src/components/Leaderboard/TableHead/index.ts
  packages/client/src/components/Leaderboard/TableRow/index.ts
  packages/server/package.json
  yarn.lock
Due: eslint

feat: Добавить хук авторизацции
  packages/client/src/components/App/App.tsx
  packages/client/src/components/Form/Form.tsx
  packages/client/src/components/Form/Input/index.ts
  packages/client/src/components/Form/index.ts
  packages/client/src/hooks/useAuth.ts
  packages/client/src/pages/Authorization/Authorization.tsx
  packages/client/src/pages/Registration/Registration.tsx
Due: eslint

feat: Добавить для авторизации createAsyncThunk
  packages/client/src/api/AuthAPI.ts
  packages/client/src/components/App/App.tsx
  packages/client/src/components/Loader/Loader.module.css
  packages/client/src/hooks/useAuth.ts
  packages/client/src/router/router.tsx
  packages/client/src/store/authSlice.ts
  packages/client/src/utils/routeConstants.ts
Due: eslint, stylelint

feat: Вынести состояние isLogged в Store
  packages/client/src/components/App/App.tsx
  packages/client/src/components/App/typings.ts
  packages/client/src/components/Navigation/Navigation.tsx
  packages/client/src/components/Navigation/typings.ts
  packages/client/src/hooks/useAuth.ts
  packages/client/src/pages/Authorization/Authorization.tsx
  packages/client/src/pages/Authorization/typings.ts
  packages/client/src/pages/Registration/Registration.tsx
  packages/client/src/pages/Registration/typings.ts
  packages/client/src/router/router.tsx
  packages/client/src/router/typings.ts
  packages/client/src/store/authSlice.ts
  packages/client/src/store/store.ts
Due: eslint

feat: Добавить createSelector для фильтрации ссылок навигации
  .eslintrc.js
  packages/client/src/api/AuthAPI.ts
  packages/client/src/components/App/App.test.tsx
  packages/client/src/components/App/App.tsx
  packages/client/src/components/Form/typings.ts
  packages/client/src/components/Navigation/Navigation.tsx
  packages/client/src/hooks/useAuth.ts
  packages/client/src/pages/ErrorPage/ErrorPage.module.css
  packages/client/src/router/router.tsx
  packages/client/src/store/authSlice.ts
  packages/client/src/store/selectors.ts
  packages/client/src/store/store.ts
  packages/client/src/store/typings.ts
  packages/client/src/typings.d.ts
  packages/client/src/utils/routeConstants.ts
  yarn.lock
Due: eslint, stylelint

Fullscreen mode
  packages/client/src/components/Button/Button.tsx
  packages/client/src/components/Button/typings.ts
  packages/client/src/components/Icons/IconFullscreen/IconFullscreen.module.css
  packages/client/src/components/Icons/IconFullscreen/IconFullscreen.tsx
  packages/client/src/components/Icons/IconFullscreen/index.ts
  packages/client/src/components/Icons/IconFullscreenExit/IconFullscreenExit.module.css
  packages/client/src/components/Icons/IconFullscreenExit/IconFullscreenExit.tsx
  packages/client/src/components/Icons/IconFullscreenExit/index.ts
  packages/client/src/pages/GamePage/GamePage.module.css
  packages/client/src/pages/GamePage/GamePage.tsx
  packages/client/src/pages/GamePage/utils/toggleFullScreen.ts
Due: eslint, stylelint

LinkRow test
  packages/client/package.json
  packages/client/src/components/LinkRow/LinkRow.test.tsx
  packages/client/src/components/LinkRow/LinkRow.tsx
  packages/client/src/components/LinkRow/__snapshots__/LinkRow.test.tsx.snap
  yarn.lock
Due: eslint

LinkRow test (#34)
  packages/client/package.json
  packages/client/src/components/LinkRow/LinkRow.test.tsx
  packages/client/src/components/LinkRow/LinkRow.tsx
  packages/client/src/components/LinkRow/__snapshots__/LinkRow.test.tsx.snap
  yarn.lock
Due: eslint

fix: Исправить замечания ревью
  packages/client/src/components/App/App.tsx
  packages/client/src/hooks/useAuth.ts
  packages/client/src/pages/ErrorPage/ErrorPage.tsx
  packages/client/src/store/features/authSlice.ts
  packages/client/src/store/selectors.ts
  packages/client/src/store/store.ts
  packages/client/src/store/typings.ts
  packages/client/src/utils/messageConstants.ts
  packages/client/src/utils/routeConstants.ts
Due: eslint

chore: fix structure of leaderboard component
  packages/client/src/pages/leaderboard/Leaderboard.tsx
  packages/client/src/pages/leaderboard/TableHead/TableHead.module.css
  packages/client/src/pages/leaderboard/TableHead/TableHead.tsx
  packages/client/src/pages/leaderboard/TableHead/index.ts
  packages/client/src/pages/leaderboard/TableRow/TableRow.module.css
  packages/client/src/pages/leaderboard/TableRow/TableRow.tsx
  packages/client/src/pages/leaderboard/TableRow/index.ts
Due: eslint, stylelint

chore: fix folders naming
  packages/client/src/hooks/useLeaders.ts
  packages/client/src/pages/LeaderboardPage/Leaderboard.module.css
  packages/client/src/pages/LeaderboardPage/Leaderboard.tsx
  packages/client/src/pages/LeaderboardPage/TableHead/TableHead.module.css
  packages/client/src/pages/LeaderboardPage/TableHead/TableHead.tsx
  packages/client/src/pages/LeaderboardPage/TableHead/index.ts
  packages/client/src/pages/LeaderboardPage/TableRow/TableRow.module.css
  packages/client/src/pages/LeaderboardPage/TableRow/TableRow.tsx
  packages/client/src/pages/LeaderboardPage/TableRow/index.ts
  packages/client/src/pages/LeaderboardPage/index.ts
  packages/client/src/pages/LeaderboardPage/typings.ts
  packages/client/src/router/router.tsx
Due: eslint, stylelint

chore: fix folders naming - v2
  packages/client/src/hooks/useLeaders.ts
  packages/client/src/pages/Leaderboard/Leaderboard.module.css
  packages/client/src/pages/Leaderboard/Leaderboard.tsx
  packages/client/src/pages/Leaderboard/TableHead/TableHead.module.css
  packages/client/src/pages/Leaderboard/TableHead/TableHead.tsx
  packages/client/src/pages/Leaderboard/TableHead/index.ts
  packages/client/src/pages/Leaderboard/TableRow/TableRow.module.css
  packages/client/src/pages/Leaderboard/TableRow/TableRow.tsx
  packages/client/src/pages/Leaderboard/TableRow/index.ts
  packages/client/src/pages/Leaderboard/index.ts
  packages/client/src/pages/Leaderboard/typings.ts
  packages/client/src/router/router.tsx
Due: eslint, stylelint

feat(task-65): send points to LB API, create unique LB, add feat to game-end page
  packages/client/src/api/LeaderboardAPI/LeaderboardAPI.ts
  packages/client/src/api/LeaderboardAPI/typings.ts
  packages/client/src/components/GameScreens/EndScreen/EndScreen.module.css
  packages/client/src/components/GameScreens/EndScreen/EndScreen.tsx
  packages/client/src/components/GameScreens/GameScreens.module.css
  packages/client/src/hooks/useLeaders.ts
  packages/client/src/pages/GamePage/GamePage.tsx
  packages/client/src/pages/GamePage/artifacts/GameCore.ts
  packages/client/src/pages/Leaderboard/Leaderboard.tsx
  packages/client/src/store/features/gameSlice.ts
  packages/client/src/store/selectors.ts
  packages/client/src/store/store.ts
  packages/client/src/store/typings.ts
  packages/client/src/utils/apiConstans.ts
Due: eslint, stylelint
