Repository Space-Invaders-Team/Arkanoid: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

eslint:
  run: yarn eslint {staged_files}

stylelint:
  run: yarn stylelint {staged_files}

feat(#51): add deployment to Yandex Cloud
  .dockerignore
  .env.sample
  .github/workflows/main.yml
  Dockerfile.production
  docker-compose.dev.yml
  docker-compose.prod.yml
  docker-compose.yml
  package.json
  packages/client/jest.config.js
  packages/client/package.json
  packages/client/src/components/Form/Form.tsx
  packages/client/src/components/ProtectedRoute/ProtectedRoute.tsx
  packages/client/src/hooks/useOauth.ts
  packages/client/src/utils/apiConstans.ts
  packages/client/src/utils/routeConstants.ts
  packages/client/ssr.config.ts
  packages/client/vite.config.ts
  packages/server/index.ts
  yarn.lock
Due: eslint

docs(#51): update README
  README.md
Due: none

Task/82 topics api (#51)
  packages/client/index.html
  packages/client/package.json
  packages/client/src/api/ForumAPI/ForumAPI.ts
  packages/client/src/api/ForumAPI/TopicAPI.ts
  packages/client/src/api/ForumAPI/typings.ts
  packages/client/src/components/Input/Input.tsx
  packages/client/src/components/Input/__snapshots__/Input.test.tsx.snap
  packages/client/src/hooks/useActiveForum.ts
  packages/client/src/hooks/useForums.ts
  packages/client/src/hooks/useTopics.ts
  packages/client/src/pages/forum/forum.tsx
  packages/client/src/pages/forum/topicList/TopicList.module.css
  packages/client/src/pages/forum/topicList/data.ts
  packages/client/src/pages/forum/topicList/topicList.tsx
  packages/client/src/pages/forum/topicList/typings.ts
  packages/client/src/pages/forum/typings.ts
  packages/client/src/router/router.tsx
  packages/client/src/utils/apiConstans.ts
  packages/client/src/utils/helpers.ts
  packages/server/controllers/forumController.ts
  packages/server/controllers/topicController.ts
  packages/server/index.ts
  packages/server/models/typings.d.ts
  packages/server/package.json
  packages/server/routes/forum/topicRoutes.ts
  yarn.lock
Due: eslint, stylelint

Type is added
  packages/client/src/hooks/typings.ts
  packages/client/src/hooks/useDataById.ts
Due: eslint

User data is added to UI
  packages/client/src/api/UserAPI/typings.ts
  packages/client/src/hooks/useAuth.ts
  packages/client/src/pages/forum/Messages/Messages.module.css
  packages/client/src/pages/forum/Messages/Messages.tsx
  packages/client/src/pages/forum/Messages/typings.ts
  packages/client/src/pages/forum/topicList/typings.ts
  packages/server/controllers/messageController.ts
  packages/server/models/User.ts
Due: eslint, stylelint

Messages api
  packages/client/src/api/ForumAPI/MessageAPI.ts
  packages/client/src/api/UserAPI/UserAPI.ts
  packages/client/src/api/UserAPI/typings.ts
  packages/client/src/hooks/useActiveForum.ts
  packages/client/src/hooks/useAuth.ts
  packages/client/src/hooks/useDataById.ts
  packages/client/src/pages/forum/Messages/Messages.module.css
  packages/client/src/pages/forum/Messages/Messages.tsx
  packages/client/src/pages/forum/Messages/data.ts
  packages/client/src/pages/forum/Messages/typings.ts
  packages/client/src/pages/forum/topicList/topicList.tsx
  packages/client/src/utils/apiConstans.ts
  packages/client/vite.config.ts.timestamp-1682020561789.mjs
  packages/client/vite.config.ts.timestamp-1682025893784.mjs
  packages/server/controllers/messageController.ts
  packages/server/controllers/userController.ts
  packages/server/index.ts
  packages/server/models/Message.ts
  packages/server/models/User.ts
  packages/server/models/typings.d.ts
  packages/server/routes/forum/messageRoutes.ts
  packages/server/routes/userRoutes.ts
Due: eslint, stylelint

fix: remove console, fix docker-compose
  docker-compose.yml
  package.json
  packages/client/src/api/ThemeAPI/ThemeAPI.ts
  packages/client/src/components/LandingHeader/LandingHeader.module.css
  packages/client/src/components/ProfileForm/ProfileForm.module.css
  packages/server/controllers/theme/themeController.ts
Due: eslint, stylelint

fix: fix styles
  packages/client/src/pages/forum/topicList/TopicList.module.css
Due: stylelint

Task/84 messages api (#57)
  packages/client/src/api/ForumAPI/MessageAPI.ts
  packages/client/src/api/UserAPI/UserAPI.ts
  packages/client/src/api/UserAPI/typings.ts
  packages/client/src/hooks/typings.ts
  packages/client/src/hooks/useActiveForum.ts
  packages/client/src/hooks/useAuth.ts
  packages/client/src/hooks/useDataById.ts
  packages/client/src/pages/forum/Messages/Messages.module.css
  packages/client/src/pages/forum/Messages/Messages.tsx
  packages/client/src/pages/forum/Messages/data.ts
  packages/client/src/pages/forum/Messages/typings.ts
  packages/client/src/pages/forum/topicList/topicList.tsx
  packages/client/src/pages/forum/topicList/typings.ts
  packages/client/src/utils/apiConstans.ts
  packages/client/vite.config.ts.timestamp-1682020561789.mjs
  packages/client/vite.config.ts.timestamp-1682025893784.mjs
  packages/server/controllers/messageController.ts
  packages/server/controllers/userController.ts
  packages/server/index.ts
  packages/server/models/Message.ts
  packages/server/models/User.ts
  packages/server/models/typings.d.ts
  packages/server/routes/forum/messageRoutes.ts
  packages/server/routes/userRoutes.ts
Due: eslint, stylelint

fix(ProtectedRouter): replace null by Loader on user data pending
  packages/client/src/components/ProtectedRoute/ProtectedRoute.tsx
Due: eslint

feat(task-49): add CSP
  packages/client/ssr.tsx
  packages/server/index.ts
  packages/server/package.json
  packages/server/tsconfig.json
  packages/server/types/index.d.ts
  packages/server/utils/getCspDirectives.ts
  packages/server/utils/index.ts
  yarn.lock
Due: eslint

feat(task-50): add helmet for xss protection
  packages/client/vite.config.ts.timestamp-1682020561789.mjs
  packages/client/vite.config.ts.timestamp-1682025893784.mjs
  packages/server/index.ts
  packages/server/package.json
  yarn.lock
Due: eslint

changes after review
  packages/client/src/components/ButtonTheme/ButtonTheme.tsx
  packages/client/src/components/LandingHeader/LandingHeader.module.css
  packages/client/src/styles/properties.css
  packages/client/vite.config.ts.timestamp-1681948638996.mjs
  packages/client/vite.config.ts.timestamp-1682020561789.mjs
  packages/client/vite.config.ts.timestamp-1682025893784.mjs
Due: eslint, stylelint

changes after review
  packages/client/src/components/ButtonTheme/ButtonTheme.tsx
Due: eslint

feat: profile API
  packages/client/src/api/UserAPI.ts
  packages/client/src/components/Form/Form.module.css
  packages/client/src/components/Form/Form.tsx
  packages/client/src/components/Form/Input/Input.tsx
  packages/client/src/components/Form/Input/typings.ts
  packages/client/src/components/Form/typings.ts
  packages/client/src/hooks/useProfile.ts
  packages/client/src/pages/Profile/Profile.module.css
  packages/client/src/pages/Profile/Profile.tsx
  packages/client/src/pages/Profile/typings.ts
  packages/client/src/utils/formConstants.ts
  packages/client/src/utils/formData.ts
Due: eslint, stylelint

fix: fix conflicts
  packages/client/src/components/Form/typings.ts
Due: eslint

fix
  packages/client/src/components/Form/typings.ts
  packages/client/src/typings.d.ts
Due: eslint

fix StringObject
  packages/client/src/api/AuthAPI.ts
  packages/client/src/api/OauthApi.ts
  packages/client/src/api/UserAPI.ts
  packages/client/src/hooks/useProfile.ts
  packages/client/src/store/typings.ts
Due: eslint

Forum: user avatar.
  packages/client/src/api/UserAPI/UserAPI.ts
  packages/client/src/hooks/useProfile.ts
  packages/client/src/pages/forum/Messages/Messages.tsx
  packages/server/controllers/userController.ts
  packages/server/routes/userRoutes.ts
Due: eslint

feat(task-41): likes in DB
  packages/client/src/api/ForumAPI/MessageAPI.ts
  packages/client/src/assets/icons/like.svg
  packages/client/src/components/ButtonTheme/ButtonTheme.tsx
  packages/client/src/components/Icons/IconLike/IconLike.module.css
  packages/client/src/components/Icons/IconLike/IconLike.tsx
  packages/client/src/components/Icons/IconLike/index.ts
  packages/client/src/pages/forum/Messages/Messages.module.css
  packages/client/src/pages/forum/Messages/Messages.tsx
  packages/client/src/pages/forum/Messages/typings.ts
  packages/client/src/styles/properties.css
  packages/client/src/typings.d.ts
  packages/server/controllers/messageController.ts
  packages/server/models/Like.ts
  packages/server/models/Message.ts
  packages/server/models/User.ts
  packages/server/models/typings.d.ts
  packages/server/routes/forum/messageRoutes.ts
Due: eslint, stylelint

User data update
  packages/client/src/hooks/useProfile.ts
  packages/client/src/pages/forum/Messages/Messages.tsx
Due: eslint

feat: password change
  packages/client/src/api/ProfileAPI.ts
  packages/client/src/assets/icons/close-button.svg
  packages/client/src/components/Button/Button.module.css
  packages/client/src/components/Form/Form.module.css
  packages/client/src/components/Form/Form.tsx
  packages/client/src/components/Form/Input/Input.tsx
  packages/client/src/components/Form/Input/typings.ts
  packages/client/src/components/Form/typings.ts
  packages/client/src/components/Popup/Popup.module.css
  packages/client/src/components/Popup/Popup.tsx
  packages/client/src/components/Popup/index.ts
  packages/client/src/components/Popup/typings.ts
  packages/client/src/hooks/useProfile.ts
  packages/client/src/pages/Authorization/Authorization.tsx
  packages/client/src/pages/Profile/Profile.module.css
  packages/client/src/pages/Profile/Profile.tsx
  packages/client/src/pages/Registration/Registration.tsx
  packages/client/src/utils/formConstants.ts
  packages/client/src/utils/formData.ts
Due: eslint, stylelint

Task/85 forum user data (#66)
  packages/client/src/api/UserAPI/UserAPI.ts
  packages/client/src/hooks/useProfile.ts
  packages/client/src/pages/forum/Messages/Messages.tsx
  packages/server/controllers/userController.ts
  packages/server/routes/userRoutes.ts
Due: eslint

fix(task-50): add "data:" to image:src and media:src
  docker-compose.prod.yml
  packages/server/utils/getCspDirectives.ts
Due: eslint

feat:(task-88) Avatar from DB in LB
  packages/client/src/api/UserAPI/UserAPI.ts
  packages/client/src/pages/Leaderboard/Leaderboard.test.tsx
  packages/client/src/pages/Leaderboard/TableRow/TableRow.module.css
  packages/client/src/pages/Leaderboard/TableRow/TableRow.tsx
  packages/client/src/pages/Leaderboard/__snapshots__/Leaderboard.test.tsx.snap
  packages/server/controllers/userController.ts
  packages/server/routes/userRoutes.ts
Due: eslint, stylelint

style: украшательства :)
  packages/client/src/assets/icons/burger.svg
  packages/client/src/components/LandingHeader/LandingHeader.module.css
  packages/client/src/components/Navigation/Navigation.module.css
  packages/client/src/components/Navigation/Navigation.tsx
  packages/client/src/pages/landing/Landing.module.css
Due: eslint, stylelint

fix color in rainbow theme
  packages/client/src/styles/properties.css
Due: stylelint

feat(game): add bg images to artifacts
  packages/client/src/assets/img/ball.svg
  packages/client/src/assets/img/brick.svg
  packages/client/src/assets/img/paddle1.svg
  packages/client/src/assets/img/paddle2.svg
  packages/client/src/assets/img/paddle3.svg
  packages/client/src/pages/GamePage/artifacts/Ball.ts
  packages/client/src/pages/GamePage/artifacts/Brick.ts
  packages/client/src/pages/GamePage/artifacts/Paddle.ts
  packages/client/src/utils/helpers.ts
Due: eslint

fix(csp): disable crossOriginEmbedderPolicy
  packages/server/index.ts
Due: eslint

fix: fix image import to prod
  packages/client/src/pages/landing/landing.tsx
Due: eslint

feat(game): add cheat code for level choice
  packages/client/src/assets/sounds/excellent.mp3
  packages/client/src/components/GameScreens/StartScreen/StartScreen.module.css
  packages/client/src/components/GameScreens/StartScreen/StartScreen.tsx
  packages/client/src/components/GameScreens/StartScreen/typings.ts
  packages/client/src/pages/GamePage/GamePage.tsx
  packages/client/src/pages/GamePage/artifacts/BricksContainer.ts
  packages/client/src/pages/GamePage/artifacts/GameCore.ts
  packages/client/src/pages/GamePage/utils/levels.ts
Due: eslint, stylelint

Fix: forum avatars size
  packages/client/src/pages/forum/Messages/Messages.module.css
  packages/client/src/pages/forum/Messages/Messages.tsx
Due: eslint, stylelint

Fix: avatar sending to DB
  packages/client/src/hooks/useProfile.ts
Due: eslint

Path conditions:
  eslint: any of: *.{ts,tsx}
  stylelint: any of: *.css
