Repository Space-Invaders-Team/Arkanoid: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

lefthook.yml:

pre-commit:
  follow: true
  commands:
    eslint:
      glob: '*.{ts,tsx}'
      run: yarn eslint {staged_files}
    stylelint:
      glob: '*.css'
      run: yarn stylelint {staged_files}
    tests:
      run: yarn test

ORM Sequelize setup
  .env.sample
  packages/server/database.ts
  packages/server/db.ts
  packages/server/index.ts
  packages/server/models/Forum.ts
  packages/server/package.json
  packages/server/tsconfig.json
  yarn.lock
Due: eslint

PostgreSQL is connected
  .env.sample
  Dockerfile.client
  Dockerfile.server
  docker-compose.yml
  packages/server/db.ts
  packages/server/index.ts
Due: eslint

Docker setup
  Dockerfile.server
  docker-compose.yml
  packages/client/index.html
  packages/client/public/avatar.jpg
  packages/client/src/assets/lose.mp4
  packages/client/src/assets/vite.svg
  packages/client/src/assets/win.mp4
  packages/client/src/components/GameScreens/EndScreen/EndScreen.tsx
  packages/client/src/styles/fonts.css
  packages/client/vite.config.ts
  packages/server/index.ts
  packages/server/package.json
Due: eslint, stylelint

README is updated
  README.md
Due: none

Task/47 postgre sql (#48)
  .env.sample
  Dockerfile.client
  Dockerfile.server
  README.md
  docker-compose.yml
  packages/client/index.html
  packages/client/public/avatar.jpg
  packages/client/src/assets/lose.mp4
  packages/client/src/assets/vite.svg
  packages/client/src/assets/win.mp4
  packages/client/src/components/GameScreens/EndScreen/EndScreen.tsx
  packages/client/src/styles/fonts.css
  packages/client/vite.config.ts
  packages/server/database.ts
  packages/server/db.ts
  packages/server/index.ts
  packages/server/models/Forum.ts
  packages/server/package.json
  packages/server/tsconfig.json
  yarn.lock
Due: eslint, stylelint

Readme is fomatted
  README.md
Due: none

Data fetching for Forums page
  packages/client/src/api/ForumAPI/ForumAPI.ts
  packages/client/src/api/ForumAPI/typings.ts
  packages/client/src/pages/forum/forum.tsx
  packages/client/src/pages/forum/typings.ts
  packages/client/src/utils/apiConstans.ts
  packages/server/controllers/forumController.ts
  packages/server/index.ts
  packages/server/models/Forum.ts
  packages/server/models/Message.ts
  packages/server/models/Topic.ts
  packages/server/models/User.ts
  packages/server/models/typings.d.ts
  packages/server/routes/forum/forumRoutes.ts
  packages/server/routes/routes.ts
Due: eslint

Delete unused file
  packages/server/routes/routes.ts
Due: eslint

Task/80 forum list (#49)
  README.md
  packages/client/src/api/ForumAPI/ForumAPI.ts
  packages/client/src/api/ForumAPI/typings.ts
  packages/client/src/pages/forum/forum.tsx
  packages/client/src/pages/forum/typings.ts
  packages/client/src/utils/apiConstans.ts
  packages/server/controllers/forumController.ts
  packages/server/index.ts
  packages/server/models/Forum.ts
  packages/server/models/Message.ts
  packages/server/models/Topic.ts
  packages/server/models/User.ts
  packages/server/models/typings.d.ts
  packages/server/routes/forum/forumRoutes.ts
Due: eslint

Topics page api
  packages/client/index.html
  packages/client/package.json
  packages/client/src/api/ForumAPI/ForumAPI.ts
  packages/client/src/api/ForumAPI/TopicAPI.ts
  packages/client/src/components/Input/Input.tsx
  packages/client/src/pages/forum/topicList/TopicList.module.css
  packages/client/src/pages/forum/topicList/data.ts
  packages/client/src/pages/forum/topicList/topicList.tsx
  packages/client/src/pages/forum/topicList/typings.ts
  packages/client/src/pages/forum/typings.ts
  packages/client/src/router/router.tsx
  packages/client/src/utils/apiConstans.ts
  packages/client/src/utils/helpers.ts
  packages/server/controllers/forumController.ts
  packages/server/controllers/topicController.ts
  packages/server/index.ts
  packages/server/models/typings.d.ts
  packages/server/package.json
  packages/server/routes/forum/topicRoutes.ts
  yarn.lock
Due: eslint, stylelint

Snapshot is updated
  packages/client/src/components/Input/__snapshots__/Input.test.tsx.snap
Due: none

fix(task-51): correct server port and start routing
  .env.sample
  packages/client/src/components/ProtectedRoute/ProtectedRoute.tsx
  packages/client/src/hooks/useOauth.ts
  packages/client/src/utils/routeConstants.ts
  packages/server/index.ts
Due: eslint

feat: add profile API
  packages/client/src/api/UserAPI.ts
  packages/client/src/assets/icons/edit.svg
  packages/client/src/components/Avatar/Avatar.module.css
  packages/client/src/components/Avatar/Avatar.tsx
  packages/client/src/components/Avatar/typings.ts
  packages/client/src/hooks/useOauth.ts
  packages/client/src/hooks/useProfile.ts
  packages/client/src/pages/Profile/Profile.module.css
  packages/client/src/pages/Profile/Profile.tsx
Due: eslint, stylelint

Hooks for data fetching were added
  packages/client/src/api/ForumAPI/typings.ts
  packages/client/src/hooks/useActiveForum.ts
  packages/client/src/hooks/useForums.ts
  packages/client/src/hooks/useTopics.ts
  packages/client/src/pages/forum/forum.tsx
  packages/client/src/pages/forum/topicList/TopicList.module.css
  packages/client/src/pages/forum/topicList/topicList.tsx
Due: eslint, stylelint

fix: avatar component test
  packages/client/src/components/Avatar/Avatar.test.tsx
  packages/client/src/components/Avatar/Avatar.tsx
  packages/client/src/components/Avatar/typings.ts
  packages/client/src/pages/Leaderboard/__snapshots__/Leaderboard.test.tsx.snap
Due: eslint

Create main.yml
  .github/workflows/main.yml
Due: none

Update main.yml
  .github/workflows/main.yml
Due: none

feat(task-51): add deployment to yandex-cloud
  .dockerignore
  .env.sample
  Dockerfile.production
  Dockerfile.server
  docker-compose.dev.yml
  docker-compose.prod.yml
  docker-compose.yml
  package.json
  packages/client/jest.config.js
  packages/client/package.json
  packages/client/src/utils/apiConstans.ts
  yarn.lock
Due: eslint

change deploy branch
  .github/workflows/main.yml
Due: none

ci: update action
  .github/workflows/main.yml
Due: none

ci: update action
  packages/client/src/index.css
Due: stylelint

ci: update action
  Dockerfile.production
Due: none

feat(#51): add deployment to Yandex Cloud
  .dockerignore
  .env.sample
  .github/workflows/main.yml
  Dockerfile.production
  docker-compose.dev.yml
  docker-compose.prod.yml
  docker-compose.yml
  package.json
  packages/client/jest.config.js
  packages/client/package.json
  packages/client/src/components/Form/Form.tsx
  packages/client/src/components/ProtectedRoute/ProtectedRoute.tsx
  packages/client/src/hooks/useOauth.ts
  packages/client/src/utils/apiConstans.ts
  packages/client/src/utils/routeConstants.ts
  packages/client/ssr.config.ts
  packages/client/vite.config.ts
  packages/server/index.ts
  yarn.lock
Due: eslint

docs(#51): update README
  README.md
Due: none
