Repository Space-Invaders-Team/Arkanoid: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

eslint:
  run: yarn eslint {staged_files}

stylelint:
  run: yarn stylelint {staged_files}

fix: changes after review
  packages/client/src/pages/GamePage/GamePage.tsx
  packages/client/src/pages/Leaderboard/Leaderboard.tsx
  packages/client/src/store/features/gameSlice.ts
Due: eslint

Modified identity-obj-proxy, Tests: avatar, button-theme
  packages/client/.jest/identity-obj-proxy-esm.js
  packages/client/jest.config.js
  packages/client/src/components/Avatar/Avatar.test.tsx
  packages/client/src/components/Avatar/Avatar.tsx
  packages/client/src/components/ButtonTheme/ButtonTheme.test.tsx
  packages/client/src/components/ButtonTheme/ButtonTheme.tsx
  packages/client/src/components/ButtonTheme/__snapshots__/ButtonTheme.test.tsx.snap
  packages/client/src/components/Input/__snapshots__/Input.test.tsx.snap
  packages/client/src/components/Navigation/Navigation.tsx
Due: eslint

App Test the loading state
  packages/client/src/components/App/App.test.tsx
  packages/client/src/components/LinkRow/LinkRow.test.tsx
  packages/client/src/components/Loader/Loader.tsx
  packages/client/src/store/store.ts
Due: eslint

App Test: fix the warning(a test was not wrapped in act)
  packages/client/src/components/App/App.test.tsx
Due: eslint

App tests
  packages/client/src/components/App/App.test.tsx
  packages/client/src/components/App/__snapshots__/App.test.tsx.snap
Due: eslint

Task/74 tests (#38)
  packages/client/.jest/identity-obj-proxy-esm.js
  packages/client/jest.config.js
  packages/client/src/components/App/App.test.tsx
  packages/client/src/components/App/__snapshots__/App.test.tsx.snap
  packages/client/src/components/Avatar/Avatar.test.tsx
  packages/client/src/components/Avatar/Avatar.tsx
  packages/client/src/components/ButtonTheme/ButtonTheme.test.tsx
  packages/client/src/components/ButtonTheme/ButtonTheme.tsx
  packages/client/src/components/ButtonTheme/__snapshots__/ButtonTheme.test.tsx.snap
  packages/client/src/components/Input/__snapshots__/Input.test.tsx.snap
  packages/client/src/components/LinkRow/LinkRow.test.tsx
  packages/client/src/components/Loader/Loader.tsx
  packages/client/src/components/Navigation/Navigation.tsx
  packages/client/src/store/store.ts
Due: eslint

feat(task-9): add SSR
  .eslintrc.js
  .gitignore
  packages/client/index.html
  packages/client/index.js
  packages/client/package.json
  packages/client/src/components/App/App.test.tsx
  packages/client/src/components/App/App.tsx
  packages/client/src/components/App/index.ts
  packages/client/src/components/ButtonTheme/ButtonTheme.tsx
  packages/client/src/components/ProtectedRoute/ProtectedRoute.tsx
  packages/client/src/components/ProtectedRoute/index.ts
  packages/client/src/components/RootLayout/RootLayout.tsx
  packages/client/src/hooks/useAuth.ts
  packages/client/src/hooks/useTheme.ts
  packages/client/src/main.tsx
  packages/client/src/pages/Authorization/Authorization.tsx
  packages/client/src/pages/index.ts
  packages/client/src/router/router.tsx
  packages/client/src/store/features/authSlice.ts
  packages/client/src/typings.d.ts
  packages/client/src/utils/isSSR.ts
  packages/client/ssr.config.ts
  packages/client/ssr.tsx
  packages/client/tsconfig.json
  packages/server/index.ts
  packages/server/package.json
  packages/server/tsconfig.json
Due: eslint

fix(task-9): correct react hooks errors
  packages/client/src/components/ProfileField/ProfileField.tsx
  packages/client/src/pages/GamePage/GamePage.tsx
  packages/client/src/pages/Leaderboard/Leaderboard.tsx
  packages/client/src/pages/Profile/Profile.tsx
Due: eslint

Initial commit
  packages/client/src/assets/sounds/fall.mp3
  packages/client/src/assets/sounds/game-over.mp3
  packages/client/src/assets/sounds/start.mp3
  packages/client/src/assets/sounds/toBlock.mp3
  packages/client/src/assets/sounds/walls-jump.mp3
  packages/client/src/pages/GamePage/GamePage.tsx
  packages/client/src/pages/GamePage/artifacts/Brick.ts
  packages/client/src/pages/GamePage/artifacts/GameCore.ts
  packages/client/src/pages/GamePage/utils/audio.ts
Due: eslint

fix(task-9): fix infinite render of avatars in LeaderBoard
  packages/client/src/hooks/useLeaders.ts
  packages/client/src/pages/Leaderboard/Leaderboard.tsx
  packages/client/src/pages/Leaderboard/typings.ts
Due: eslint

feat: Добавить компоонент AuthMessage
  packages/client/src/components/AuthMessage/AuthMessage.module.css
  packages/client/src/components/AuthMessage/AuthMessage.tsx
  packages/client/src/components/AuthMessage/index.ts
  packages/client/src/pages/Authorization/Authorization.tsx
Due: eslint, stylelint

feat: Добавить вывод ошибок авторизации/регистрации
  packages/client/src/components/AuthMessage/AuthMessage.module.css
  packages/client/src/components/AuthMessage/AuthMessage.tsx
  packages/client/src/hooks/useAuth.ts
  packages/client/src/pages/Authorization/Authorization.tsx
  packages/client/src/pages/Registration/Registration.tsx
  packages/client/src/utils/formConstants.ts
  packages/client/src/utils/messageConstants.ts
Due: eslint, stylelint

feat: Добавить Oauth авторизацию
  packages/client/src/api/OauthApi.ts
  packages/client/src/components/App/App.tsx
  packages/client/src/components/Form/Form.tsx
  packages/client/src/hooks/useOauth.ts
  packages/client/src/pages/Authorization/Authorization.tsx
  packages/client/src/store/features/oauthSlice.ts
  packages/client/src/store/selectors.ts
  packages/client/src/store/store.ts
  packages/client/src/store/typings.ts
  packages/client/src/utils/routeConstants.ts
Due: eslint

fix: Доработать Oauth авторизацию
  packages/client/src/components/App/App.tsx
  packages/client/src/components/Form/Form.tsx
  packages/client/src/components/LandingHeader/LandingHeader.tsx
  packages/client/src/hooks/useOauth.ts
  packages/client/src/router/router.tsx
  packages/client/src/utils/routeConstants.ts
Due: eslint

test(task-9): add task number to TODO
  packages/client/src/components/App/App.test.tsx
Due: eslint

test(task-72): Tests for Leaderboard
  packages/client/package.json
  packages/client/src/pages/Leaderboard/Leaderboard.test.tsx
  packages/client/src/pages/Leaderboard/Leaderboard.tsx
  packages/client/src/pages/Leaderboard/TableRow/TableRow.tsx
  packages/client/src/pages/Leaderboard/__snapshots__/Leaderboard.test.tsx.snap
  yarn.lock
Due: eslint

Add mute mode
  packages/client/src/assets/icons/sound-mute.svg
  packages/client/src/assets/icons/sound.svg
  packages/client/src/components/GameScreens/EndScreen/EndScreen.tsx
  packages/client/src/components/GameScreens/StartScreen/StartScreen.module.css
  packages/client/src/components/GameScreens/StartScreen/StartScreen.tsx
  packages/client/src/pages/GamePage/GamePage.tsx
  packages/client/src/pages/GamePage/artifacts/Brick.ts
  packages/client/src/pages/GamePage/artifacts/GameCore.ts
Due: eslint, stylelint

fix(task-40): move audio creating into class initialization
  packages/client/src/pages/GamePage/artifacts/Brick.ts
  packages/client/src/pages/GamePage/artifacts/BricksContainer.ts
  packages/client/src/pages/GamePage/artifacts/GameCore.ts
Due: eslint

fix(task-78): Fix SW on PROD mode, remove SW from DEV mode
  packages/client/src/main.tsx
  packages/client/src/utils/serviceWorkers/index.ts
  packages/client/src/utils/serviceWorkers/startServiceWorkers.ts
  packages/client/sw.ts
  packages/client/vite.config.ts
  packages/server/index.ts
Due: eslint

fix: Исправить замечания ревью
  .eslintrc.js
  packages/client/src/hooks/useAuth.ts
  packages/client/src/pages/Authorization/Authorization.tsx
  packages/client/src/pages/Registration/Registration.tsx
Due: eslint

fix: fix avatar rerender
  packages/client/src/components/Avatar/Avatar.tsx
Due: eslint

fix: oAuth
  packages/client/src/components/RootLayout/RootLayout.tsx
Due: eslint

Task/40 audio api (#43)
  packages/client/src/assets/icons/sound-mute.svg
  packages/client/src/assets/icons/sound.svg
  packages/client/src/assets/sounds/fall.mp3
  packages/client/src/assets/sounds/game-over.mp3
  packages/client/src/assets/sounds/start.mp3
  packages/client/src/assets/sounds/toBlock.mp3
  packages/client/src/assets/sounds/walls-jump.mp3
  packages/client/src/components/GameScreens/EndScreen/EndScreen.tsx
  packages/client/src/components/GameScreens/StartScreen/StartScreen.module.css
  packages/client/src/components/GameScreens/StartScreen/StartScreen.tsx
  packages/client/src/pages/GamePage/GamePage.tsx
  packages/client/src/pages/GamePage/artifacts/Brick.ts
  packages/client/src/pages/GamePage/artifacts/BricksContainer.ts
  packages/client/src/pages/GamePage/artifacts/GameCore.ts
  packages/client/src/pages/GamePage/utils/audio.ts
Due: eslint, stylelint

chore(task-43): Memory leaks
  MEMORYLEAKS.md
  packages/client/src/components/App/App.tsx
  packages/client/src/hooks/useAuth.ts
  packages/client/src/pages/Authorization/Authorization.tsx
  packages/client/src/pages/GamePage/GamePage.tsx
  packages/client/src/pages/GamePage/artifacts/GameCore.ts
  packages/client/src/pages/GamePage/utils/toggleFullScreen.ts
Due: eslint

feat(task-39): add preloaded state for SSR
  .nvmrc
  package.json
  packages/client/index.html
  packages/client/mocks/matchMedia.mock
  packages/client/package.json
  packages/client/src/client.d.ts
  packages/client/src/components/App/App.test.tsx
  packages/client/src/components/App/App.tsx
  packages/client/src/components/App/__snapshots__/App.test.tsx.snap
  packages/client/src/components/App/index.ts
  packages/client/src/components/ButtonTheme/ButtonTheme.test.tsx
  packages/client/src/main.tsx
  packages/client/src/router/router.tsx
  packages/client/src/store/store.ts
  packages/client/ssr.tsx
  packages/server/index.ts
  packages/server/utils/escapeHtml.ts
  yarn.lock
Due: eslint

chore(task-39): change Node min version
  .nvmrc
  package.json
Due: none

Update checks.yml
  .github/workflows/checks.yml
Due: none

fix(task-39): change logic of redirects on login
  packages/client/src/pages/Authorization/Authorization.tsx
Due: eslint

fix: oAuth
  packages/client/src/api/OauthApi.ts
  packages/client/src/hooks/useOauth.ts
Due: eslint

fix: вернула StrictMode, поправила удаление обработчиков и экземпляра GameCore
  packages/client/src/components/App/App.tsx
  packages/client/src/pages/GamePage/GamePage.tsx
  packages/client/src/pages/GamePage/utils/toggleFullScreen.ts
Due: eslint

Docker setup
  Dockerfile.server
  docker-compose.yml
  packages/client/index.html
  packages/client/public/avatar.jpg
  packages/client/src/assets/lose.mp4
  packages/client/src/assets/vite.svg
  packages/client/src/assets/win.mp4
  packages/client/src/components/GameScreens/EndScreen/EndScreen.tsx
  packages/client/src/styles/fonts.css
  packages/client/vite.config.ts
  packages/server/index.ts
  packages/server/package.json
Due: eslint, stylelint

fix: remove console.log
  packages/client/src/pages/GamePage/artifacts/GameCore.ts
Due: eslint

PostgreSQL is connected
  .env.sample
  Dockerfile.client
  Dockerfile.server
  docker-compose.yml
  packages/server/db.ts
  packages/server/index.ts
Due: eslint

Path conditions:
  eslint: any of: *.{ts,tsx}
  stylelint: any of: *.css
